@import "../../Variables/Variables.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: $darkColour2;
  min-height: 100vh;
  width: 250px;
  font-family: $fontTheme;

  .sidebar_top_button {
    @include linkText();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;

    .sidebar_top_title {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  ul {
    list-style-type: none;
  }

  .sidebar_list {
    display: flex;
    flex-direction: column;
    padding: 0;

    .row,
    .row_active {
      @include linkText();
      display: flex;
      font-size: 1.75rem;
      padding: 1rem;

      .sidebar_link_icon {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sidebar_link_name {
        flex: 7;
        display: flex;
        justify-content: left;
      }
    }

    .row_active {
      background-color: $darkColour5;
    }
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 75px;

    .sidebar_top {
      display: none;
    }

    .sidebar_list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;

      .row,
      .row_active {
        display: flex;
        font-size: 2rem;
        height: 75px;
        width: 75px;
        padding: 0;

        .sidebar_link_icon {
          flex: 3;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .sidebar_link_name {
          flex: 7;
          display: none;
          justify-content: left;
        }
      }

      .row_active {
        background-color: $darkColour5;
      }
    }
  }
}
